<div class="row-fluid">
  <div class="span3">
    <table class="table table-bordered">
      <tr>
        <th>Strike Temperature</th>
        <td><span id="strikeTemperatureResult"></span>&deg;F</td>
      </tr>

      <tr>
        <th>Mash Water Volume</th>
        <td><span id="waterVolumeResult"></span> Quarts</td>
      </tr>
    </table>
  </div>
</div>

